

.next-page-button {
    width: 320px;
    height: 80px;
    background-color: #4C6085;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-title {
    color: #F7F3E3;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

