.navBar {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.nav-item {
    width: 200px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 32px;
}

.personal-main {
    padding-top: 50px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.perosnal_chart {
    width: 600px;
    padding-right: 50px;
    padding-top: 50PX;
}

.greeting {
    font-size: 36px;
}

.greeting h3 {
    margin: 0px;
}

.divider {
    background-color: #2B0504;
    height: 10px;
    width: 500px;
}

.personal-description {
    padding-left: 30px;
}

.personal-description h3 {
    font-size: 36px;
    font-weight: bold;
    color: #2B0504;
}

