.personal-description h3 {
    font-size: 36px;
    font-weight: bold;
    color: #2B0504;
}

.left-flexbox{
    padding-left: 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting {
    font-size: 36px;
}

.greeting h3 {
    margin: 0px;
}

.divider {
    background-color: #2B0504;
    height: 10px;
    width: 500px;
}