.login-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    background-color: white;
    
}

.shopping-image {
    width: 50vw;
    height: 100vh;
    object-fit:cover;

    border-radius: 20px;
}

.left-login {
    padding-left: 10vw;

    width: 30vw;
    height: 350px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

}

.right-login {

    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.signup {
    display: flex;
    flex-direction: row;
}

.login-input {
    width: 350px;
    height: 40px;

    border: none;
    border-bottom: 2px solid rgb(65, 65, 65);

    outline: none;

    font-size: 16px;
}

.create-account {
    padding-left: 10px;

    color: rgb(0, 0, 156);
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 50px;
    width: 356px;
    background-color: black;

    color: white;

    border-radius: 20px;

}

.title {
    margin-bottom: 10px;
}

.logo {
    position: absolute;

    padding-left: 40px;
    padding-top: 40px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
}

.trackie-logo {
    height: 50px;
    padding-right: 10px;
}